<ion-view>
  <ion-header-bar class="bar-calm">
    <div class="title title-center header-item">Study Time</div>
    <div class="buttons buttons-right header-item"><span class="right-buttons"><button class="button button-clear button-icon ion-ios-close-outline" ng-click="stopStudy()" ng-show="studyMode || breakMode">
    </button></span></div>
  </ion-header-bar>

  <div class="container">

    <div class="progress-wrapper" ng-hide="breakMode" name="studyClock" ng-click="showStudyToggle()">
      <div class="progress">
        <div id="clock" ng-show="showStudy">
          <span ng-hide="!study.hours" id="big">{{study.hours}}<span id="small">hr</span></span>
          <span ng-hide="(!study.mins)" id="big">{{study.mins}}<span id="small">min</span></span>
          <h4 ng-show="study.mins || study.hours">to study</h4>
        </div>
        <div id="clock" ng-hide="showStudy">
          <span ng-hide="!studyMode || !untilBreak" id="big">{{untilBreak}}<span id="small">min</span></span>
          <h4 ng-show="studyMode || untilBreak>0">until break</h4>
        </div>
      </div>
      <div round-progress="1" max="studyTime" current="timeLeft" color="#1EBAFF" bgcolor="#eaeaea" radius="100" stroke="10" semi="false" rounded="true" clockwise="true" responsive="true" duration="400" animation="linearEase">
      </div>
    </div>

    <div class="progress-wrapper" ng-show="breakMode" name="breakClock">
      <div class="progress">
        <div id="clock">
          <span ng-style="(!breakLeft)?hide:show" id="big">{{breakLeft}}<span id="small">min</span></span>
        </div>
      </div>
      <div round-progress="2" max="break.breakLength" current="breakLeft" color="#4CAF50" bgcolor="#eaeaea" radius="100" stroke="10" semi="false" rounded="true" clockwise="true" responsive="true" duration="400" animation="linearEase">
      </div>
    </div>

    <button class="button button-block button-balanced homeButtons" ng-click="timePopup()" ng-hide="studyMode || breakMode">
      Set Study Schedule
    </button>
    <button class="button button-block button-balanced homeButtons animated pulse" ng-show="breakMode" ui-sref="tab.break.homepage">
      Break Suggestions
    </button>
    

  </div>

</ion-view>
