body {
	font-size: 14px;
}

@media (max-width: 768px) {
	h2 {
		font-size: 30px !important;
	}
	h6 {
		font-size: 12px !important;
	}
	h4 {
		font-size: 18px !important;
	}
}

.navbar-inverse {
	background-color: #047A4A;
	box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.3);
}

.center {
	display: flex;
	justify-content: center;
}

.no-margin {
	margin: 0 !important;
}

.margin-top {
	margin-top: 5px !important;
}

.navbar-text {
	font-size: 15px !important;
}

.navbar-title {
	text-transform: none !important;
	font-size: 30px !important;
}

.has-header {
	margin-top: 64px;
}

#big-navbar .navbar-nav {
	display: flex;
	align-items: center;
}

#big-navbar .navbar-nav li {
	border-bottom: 4px solid transparent;
}

#big-navbar .navbar-nav li:hover {
	border-bottom: 4px solid #047A4A;
	/*border-bottom: 3px solid #99ccff;*/
}

.navbar-nav li a {
	margin: 0 !important;
	color: white !important;
}

#mini-navbar .navbar-brand {
	color: white;
}

#mini-navbar .navbar-collapse {
	border: 0;
}

a:hover {
	text-decoration: none;
}

a:active {
	text-decoration: none;
}

a:link {
	text-decoration: none;
}

/* #profile {
	background: url('/assets/img/vancouver.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin-bottom: 0;
	height: 700px;
} */

#profile .panel {
	margin: 0px;
	color: black;
	border-radius: 1px;
	box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.3);
}

.container-white {
	padding: 40px 0px;
	background-color: #fff;
}

.container-blue {
	background-color: #07346F;
	padding: 40px 0px;
	color: white;
}

.container-green {
	background-color: #047A4A;
	padding: 10px 0px;
	color: white;
}

.heading {
	margin-top: 0px;
	margin-bottom: 25px;
}

h3, h4 {
	margin-top : 0px;
}

.container-blue h1, 
.container-blue h2,
.container-blue h3,
.container-blue h4,
.container-blue h5,
.container-blue h6 {
	color: white;
}

.form-control {
	color: white;
	padding-left: 5px !important;
}

.table-container {
	height: 350px;
	overflow-y: scroll;
}

.table-hover > tbody > tr:hover {
	cursor: pointer;
	background-color: #A8A9AD;
}

.nav-tabs {
	-webkit-box-shadow: inset 0 -1px 0 #dddddd;
  	box-shadow: inset 0 -1px 0 #dddddd;
  	border-bottom: 1px solid #dddddd;
}

.nav-tabs > li > a {
	color: white;
}

.nav-tabs > li > a:hover {
	cursor: pointer;
}

.table-container::-webkit-scrollbar-track {
	background-color: transparent;
}

.table-container::-webkit-scrollbar {
	background-color: transparent;
	width: 6px;
}

.table-container::-webkit-scrollbar-thumb {
	background-color: rgba(217, 218, 215, 0.3);
	border-radius: 10px;
}

tbody > tr:first-of-type > td {
	border-top: none !important;
}

.courseCol {
	width: 110px;
}

.link-out {
	color: white;
	font-size: 15px;
	top: -1px;
	margin-left: 5px;
}

.carousel img {
	margin: auto;
	height: 400px !important;
	max-width: none !important;
}

.carousel .carousel-control {
	background-image: none !important;
}

#portfolio .row {
	margin-bottom: 20px;
}

footer .container {
	padding: 0px 55px;
}

footer .col-xs-1 {
	padding: 0;
	width: 30px;
	text-align: center;
}

footer .row {
	display: flex;
	align-items: center;
	margin-bottom: -10px;
}

footer .row:last-child {
	margin-bottom: 0px;
}

footer a,
footer h6 {
	color: white;
}

footer a:hover {
	border-bottom: 1px dashed black;
	color: #003366;
}

footer .icon {
	font-size: 25px;
}

.progress {
	height: 10px !important;
	margin-bottom: 5px;
}