.center {
	display: flex;
	justify-content: center;
}

.no-margin {
	margin: 0 !important;
}

.margin-top {
	margin-top: 5px !important;
}

.navbar-text {
	font-size: 15px !important;
}

.navbar-title {
	text-transform: none !important;
	font-size: 30px !important;
}

.navbar-nav {
	display: flex;
	align-items: center;
}

.navbar-nav li {
	border-bottom: 4px solid transparent;
}

.navbar-nav li:hover {
	border-bottom: 4px solid #047A4A;
	/*border-bottom: 3px solid #99ccff;*/
}

.navbar-nav li a {
	margin: 0 !important;
}

a:hover {
	text-decoration: none;
}

a:active {
	text-decoration: none;
}

a:link {
	text-decoration: none;
}

#profile {
	background: url('/assets/vancouver.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin-bottom: 0;
	height: 700px;
}

.container-white {
	padding: 25px 0px;
	background-color: #fff;
}

.container-blue {
	background-color: #07346F;
	padding: 25px 0px;
	color: white;
}

.heading {
	margin-bottom: 18px;
}

.container-blue h1, 
.container-blue h2,
.container-blue h3,
.container-blue h4,
.container-blue h5,
.container-blue h6 {
	color: white;
}

#education h4 {
	margin-top: 10px;
}

.form-control {
	color: white;
	padding-left: 5px !important;
}

.table-container {
	height: 350px;
	overflow-y: scroll;
}

.table-hover > tbody > tr:hover {
	cursor: pointer;
	background-color: #A8A9AD;
}

.nav-tabs {
	-webkit-box-shadow: inset 0 -1px 0 #dddddd;
  	box-shadow: inset 0 -1px 0 #dddddd;
  	border-bottom: 1px solid #dddddd;
}

.nav-tabs > li > a {
	color: white;
}

.nav-tabs > li > a:hover {
	cursor: pointer;
}

.table-container::-webkit-scrollbar-track {
	background-color: transparent;
}

.table-container::-webkit-scrollbar {
	background-color: transparent;
	width: 6px;
}

.table-container::-webkit-scrollbar-thumb {
	background-color: rgba(217, 218, 215, 0.3);
	border-radius: 10px;
}

tbody > tr:first-of-type > td {
	border-top: none !important;
}

.courseCol {
	width: 110px;
}

.link-out {
	color: white;
	font-size: 15px;
	top: -1px;
	margin-left: 5px;
}