<nav class="navbar navbar-inverse navbar-fixed-top hidden-sm hidden-xs" id="big-navbar">
    <div class="center">
        <ul class="nav navbar-nav">
            <li>
                <a href="#" class="navbar-text" ng-click="gotoElement('technical')">Technical</a>
            </li>
            <li>
                <a href="#" class="navbar-text" ng-click="gotoElement('education')">Education</a>
            </li>
            <li>
                <a href="#" class="navbar-title" ng-click="gotoElement('profile')">Vincent Lore</a>
            </li>
            <li>
                <a href="#" class="navbar-text" ng-click="gotoElement('portfolio')">Portfolio</a>
            </li>
            <li>
                <a href="#" class="navbar-text" ng-click="gotoElement('experience')">Experience</a>
            </li>
        </ul>
    </div>
</nav>
<nav class="navbar navbar-inverse navbar-fixed-top hidden-md hidden-lg" id="mini-navbar">
    <button class="navbar-toggle" ng-click="isCollapsed = !isCollapsed">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#" ng-click="gotoElement('profile')">Vincent Lore</a>
    <div class="navbar-collapse" uib-collapse="isCollapsed" id="collapsed-menu">
        <ul class="nav navbar-nav">
            <li>
                <a href="#" ng-click="gotoElement('technical')">Technical</a>
            </li>
            <li>
                <a href="#" ng-click="gotoElement('education')">Education</a>
            </li>
            <li>
                <a href="#" ng-click="gotoElement('portfolio')">Portfolio</a>
            </li>
            <li>
                <a href="#" ng-click="gotoElement('experience')">Experience</a>
            </li>
        </ul>
    </div>
</nav>
<section class="container-blue has-header" id="profile">
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-body">
                {{profile}}
            </div>
        </div>
    </div>
</section>
<section class="container-white" id="technical">
    <h2 class="text-center heading">Technical</h2>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3>Languages</h3>
                <div ng-repeat="p in programming">
                    <label>{{p.lang}}</label>
                    <uib-progressbar class="progress-striped active" value="p.exp"></uib-progressbar>
                </div>
            </div>
            <div class="col-md-6 text-right">
                <h3>Laboratory</h3>
                <div ng-repeat="l in laboratory">
                    {{l}}
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container-blue" id="education">
    <h2 class="text-center heading">Education</h2>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-xs-3">
                        <img class="img-responsive" src="assets/img/ubc.png" />
                    </div>
                    <div class="col-xs-9">
                        <h4>University of British Columbia</h4>
                        <h6>Bachelor of Science</h6>
                        <h6>Major in Biochemistry</h6>
                        <h6>Major in Computer Science</h6>
                        <h6>September 2011 to May 2016 (Expected)</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="container-fluid">
                    <input type="text" placeholder="Search courses" class="form-control" ng-model="filterCourse">
                    <uib-tabset>
                        <uib-tab heading="ALL" active="tab.active" select="coursesByCat('')"></uib-tab>
                        <uib-tab heading="CPSC" select="coursesByCat('cpsc')"></uib-tab>
                        <uib-tab heading="BIOC" select="coursesByCat('bioc')"></uib-tab>
                        <uib-tab heading="CHEM" select="coursesByCat('chem')"></uib-tab>
                    </uib-tabset>
                    <table class="table table-hover no-margin">
                        <thead>
                            <tr>
                                <th class="courseCol">Course</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                    </table>
                    <div class="table-container margin-top">
                        <table class="table table-hover">
                            <tbody>
                                <tr ng-repeat="course in catCourses | filter:filterCourse">
                                    <td class="courseCol">{{course.course}}</td>
                                    <td>{{course.title}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container-white" id="portfolio">
    <h2 class="text-center heading">Portfolio</h2>
    <div class="container">
        <div class="row" ng-repeat="p in projects">
            <div class="col-md-6">
                <h4>{{p.name}}
                    <span class="icon ion-android-arrow-forward" ng-if="p.name=='Yippee'">
                        <a href="yippee">Demo</a>
                    </span>
                </h4>
                <p>{{p.description}}</p>
                <ul>
                    <li ng-repeat="f in p.functions">{{f}}</li>
                </ul>
                <p>{{p.built}}
                    <br ng-if="p.tested"> {{p.tested}}</p>
            </div>
            <div class="col-md-6">
                <uib-carousel>
                    <uib-slide ng-repeat="img in p.images">
                        <img ng-src="{{img}}" ng-click="popup(p.images)">
                    </uib-slide>
                </uib-carousel>
            </div>
        </div>
    </div>
</section>
<section class="container-blue" id="experience">
    <h2 class="text-center heading">Work Experience</h2>
    <div class="container">
        <div class="col-md-6">
            <div class="row" ng-repeat="e in experiences">
                <h4>{{e.job}}
                    <a href="{{e.url}}">
                        <span class="glyphicon glyphicon-share link-out"></span>
                    </a>
                </h4>
                <h6>{{e.address}}</h6>
                <h6>{{e.duration}}</h6>
                <ul>
                    <li ng-repeat="j in e.jobs">{{j}}</li>
                </ul>
                <br>
            </div>
        </div>
    </div>
</section>
<footer class="container-green">
    <div class="container">
        <div class="col-md-6">
            <div class="row" ng-repeat="d in contactDetails">
                <div class="col-xs-1">
                    <a href="{{d.url}}">
                        <span class="icon {{d.icon}}"></span>
                    </a>
                </div>
                <div class="col-xs-6">
                    <a href="{{d.url}}">{{d.text}}</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h6>Designed and built by Vincent Lore.</h6>
            <h6>Built with
                <a href="http://getbootstrap.com">Bootstrap</a> using
                <a href="http://bootswatch.com/paper/">Bootswatch Paper</a> theme.</h6>
            <h6>Icons from
                <a href="http://glyphicons.com/">Glyphicons</a> and
                <a href="http://ionicons.com/">Ionicons</a>.</h6>
        </div>
    </div>
</footer>
