<nav class="navbar navbar-default navbar-fixed-top" id="navbar">
    <div class="center">
        <ul class="nav navbar-nav">
            <li>
                <a href="#" class="navbar-text" ng-click="gotoElement('technical')">Technical</a>
            </li>
            <li>
                <a href="#" class="navbar-text" ng-click="gotoElement('education')">Education</a>
            </li>
            <li>
                <a href="#" class="navbar-title" ng-click="gotoElement('profile')">Vincent Lore</a>
            </li>
            <li>
                <a href="#" class="navbar-text" ng-click="gotoElement('portfolio')">Portfolio</a>
            </li>
            <li>
                <a href="#" class="navbar-text" ng-click="gotoElement('experience')">Experience</a>
            </li>
        </ul>
    </div>
</nav>
<div class="jumbotron" id="profile">
    <div class="container">
    </div>
</div>
<div class="container-white" id="technical">
    <h2 class="text-center heading">Technical</h2>
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <h3>Languages</h3>
                <div ng-repeat="language in languages">{{language}}</div>
            </div>
            <div class="col-xs-6">
            </div>
        </div>
    </div>
</div>
<div class="container-blue" id="education">
    <h2 class="text-center heading">Education</h2>
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <div class="row">
                    <div class="col-xs-3">
                        <img class="img-responsive" src="assets/ubc.png" />
                    </div>
                    <div class="col-xs-9">
                        <h4>University of British Columbia</h4>
                        <h6>Bachelor of Science</h6>
                        <h6>Major in Biochemistry</h6>
                        <h6>Major in Computer Science</h6>
                        <p>September 2011 to May 2016 (Expected)</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="container-fluid">
                    <input type="text" placeholder="Search courses" class="form-control" ng-model="filterCourse">
                    <uib-tabset>
                        <uib-tab heading="ALL" active="tab.active" select="coursesByCat('')"></uib-tab>
                        <uib-tab heading="CPSC" select="coursesByCat('cpsc')"></uib-tab>
                        <uib-tab heading="BIOC" select="coursesByCat('bioc')"></uib-tab>
                        <uib-tab heading="CHEM" select="coursesByCat('chem')"></uib-tab>
                    </uib-tabset>
                    <table class="table table-hover no-margin">
                        <thead>
                            <tr>
                                <th class="courseCol">Course</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                    </table>
                    <div class="table-container margin-top">
                        <table class="table table-hover">
                            <tbody>
                                <tr ng-repeat="course in catCourses | filter:filterCourse">
                                    <td class="courseCol">{{course.course}}</td>
                                    <td>{{course.title}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-white" id="portfolio">
    <h2 class="text-center heading">Portfolio</h2>
    <div class="container">
        <div class="row">
            <div class="col-xs-7">
                <h4>Datapi Registration App</h4>
                <p>A web application designed for managing student registration and payments.</p>
                <ul>
                    <li>Register new clients to the database</li>
                    <li>Make and edit payments in the database</li>
                    <li>Make changes to existing client information</li>
                    <li>Compiling monthly, weekly, daily reports. WIP</li>
                </ul>
                <p>Built with AngularJS, Bootstrap CSS, Angular Bootstrap, and Firebase.</p>
            </div>
            <div class="col-xs-5">
                <img src="" />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-7">
                <h4>Yippee</h4>
                <p>A mobile (Android and iOS) application that promotes a healthy lifestyle by encouraging students to schedule regular breaks in their busy study schedules.</p>
                <ul>
                    <li>Set a study schedule with regular break intervals and lengths</li>
                    <li>Automatically change phone ringer mode</li>
                    <li>Notify user to take a break</li>
                    <li>Utilize user's geolocation to query Yelp API for nearby businesses</li>
                    <li>Create user accounts and add friends to view their statuses</li>
                    <li>Send messages to friends</li>
                    <li>Share businesses with friends</li>
                </ul>
                <p>Built with Ionic framework, Cordova plugins, Ionic material CSS, Yelp API, OpenStreetMap, Firebase.
                <br>Tested using Karma with Jasmine, automated on TravisCI.</p>
            </div>
            <div class="col-xs-5">
                <img src="" />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-7">
                <h4>NHLCap</h4>
                <p>A simple web database application for viewing the cap salaries of players in the NHL.
                    <br> Built with AngularJS, PHP, and MySQL.</p>
            </div>
            <div class="col-xs-5">
                <img src="" />
            </div>
        </div>
    </div>
</div>
<div class="container-blue" id="experience">
    <h2 class="text-center heading">Work Experience</h2>
    <div class="container">
        <div class="col-xs-6">
            <div class="row">
                <h4>Tutor & Developer @ Datapi Learning Centre</h4>
                <h6>772 Kingsway, Vancouver, BC</h6>
                <h6>September, 2015 to Present</h6>
                <ul>
                    <li>Tutoring students K-12 1-on-1 or 1-on-2</li>
                    <li>Developing a web application for managing clients</li>
                    <li>Making incremental changes on currently existing software system</li>
                </ul>
            </div>
            <div class="row">
                <h4>Lab Volunteer @ Rideout Lab</h4>
                <h6>2350 Health Sciences Mall, Vancouver, BC</h6>
                <h6>August, 2015 to Present</h6>
                <ul>
                    <li>Regular housekeeping tasks</li>
                    <li>Developing R scripts to process RNAseq data</li>
                </ul>
            </div>
        </div>
    </div>
</div>
