<nav class="navbar navbar-default navbar-fixed-top">
        <div class="center">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#" class="navbar-text">Technical</a>
                </li>
                <li>
                    <a href="#" class="navbar-text">Education</a>
                </li>
                <li>
                    <a href="#" class="navbar-title">Vincent Lore</a>
                </li>
                <li>
                    <a href="#" class="navbar-text">Portfolio</a>
                </li>
                <li>
                    <a href="#" class="navbar-text">Experience</a>
                </li>
            </ul>
        </div>
    </nav>
<div class="jumbotron" id="intro">
	<div class="container">
	</div>
</div>
<div class="container-white">
	<div class="container">
	<h1 class="text-center">Technical</h1>
	<div class="row">
		<div class="col-xs-3">
			<h2>Languages</h2>
			<div ng-repeat="language in languages">{{language}}</div>
		</div>
		<div class="col-xs-3">
			
		</div>
	</div>
	</div>
</div>
