<div class="container-fluid">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="center">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#" class="navbar-text">Education</a>
                </li>
                <li>
                    <a href="#" class="navbar-text">Skills</a>
                </li>
                <li>
                    <a href="#" class="navbar-title">Vincent Lore</a>
                </li>
                <li>
                    <a href="#" class="navbar-text">Portfolio</a>
                </li>
                <li>
                    <a href="#" class="navbar-text">Experience</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
